<div class="flex-column" *ngIf="!isLoading; else loading">
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <div class="flex-column">
      <label for="email">E-Mail </label>
      <input
        type="text"
        id="email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
      <!-- id email with label for accessibility -->
      <span *ngIf="email.invalid"
        >Email is required and needs to be a correct email</span
      >
    </div>

    <br />

    <div class="flex-column">
      <label for="password">Password </label>
      <input
        type="text"
        id="password"
        ngModel
        name="password"
        required
        minlength="6"
        #password="ngModel"
      />
      <span *ngIf="password.invalid"
        >Password is required and needs to be more than 6 characters</span
      >
      <!-- id email with label for accessibility -->
    </div>

    <br />

    <button
      type="submit"
      [class.green]="isLoginMode"
      [disabled]="!loginForm.valid"
    >
      {{ isLoginMode ? "Login" : "Sign Up" }}
    </button>

    <button type="button" (click)="onSwitchMode()">
      {{ isLoginMode ? "Switch to Sign Up" : "Switch to Login" }}
    </button>
  </form>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
