<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <input
    type="text"
    #postTitle
    [value]="newPost.title"
    name="title"
    placeholder="title"
    ngModel
    required
    #title="ngModel"
  />
  <span *ngIf="title.invalid">Title is required</span>
  <br />
  <textarea
    rows="6"
    [value]="newPost.body"
    #postBody
    name="body"
    placeholder="body"
    ngModel
    required
    #body="ngModel"
  ></textarea>
  <span *ngIf="body.invalid">Body is required</span>

  <hr />
  <button type="submit">Save Post</button>
</form>

<!-- <input type="text" #postTitle />
  how to use template ref into functions
<button (click)="onAddPost(postTitle)">Save Post</button> -->
