/* SPACING: Generates different css classes to shorthand use
Creates classes like this for example:
  .padding-16 { padding: 16px;} 
  .padding-8 { padding: 8px;} 
  .padding-right-4 { padding-right: 4px;} 
  .margin-16 { margin: 16px;} 
  .margin-bottom-16 { margin-bottom: 16px;} 

Usage: 
  <div class="padding-top-48"></div>
*/

$spacing: 4;

@for $i from 0 through 12 {
  @each $prop in (margin, padding) {
    .#{$prop}-#{$spacing * $i} {
      #{$prop}: #{$spacing * $i}px;
    }

    @each $side in (top, right, bottom, left) {
      .#{$prop}-#{$side}-#{$spacing * $i} {
        #{$prop}-#{$side}: #{$spacing * $i}px;
      }
    }
  }
}

@for $i from 0 through 12 {
  @each $prop in (margin, padding) {
    .#{$prop}-#{$spacing * $i}-important {
      #{$prop}: #{$spacing * $i}px !important;
    }

    @each $side in (top, right, bottom, left) {
      .#{$prop}-#{$side}-#{$spacing * $i}-important {
        #{$prop}-#{$side}: #{$spacing * $i}px !important;
      }
    }
  }
}
